.list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--fs-body);
  line-height: var(--lh-body);
}

.label {
  color: var(--color-main);
  font-weight: 400;
  margin: 0;
}

.value {
  color: var(--color-main);
  margin: 0;
  text-align: right;
}
