.row {
  display: flex;
  gap: 16px;
  align-items: center;
  color: #101828;
  font-size: 16px;
  line-height: 24px;
}

.item {
  display: inline-flex;
  gap: 4px;
  align-items: center;
}

.star {
  width: 16px;
  height: 16px;
  color: #ffc531;
}

.pin {
  width: 16px;
  height: 16px;
  color: #101828;
}

.underline {
  text-decoration: underline;
  text-underline-offset: 3px;
}
